/TestGit/.vs/TestGit/v15/.suo
/TestGit/.vs/TestGit/v15/Server/sqlite3/db.lock
/TestGit/.vs/TestGit/v15/Server/sqlite3/storage.ide
/TestGit/.vs/TestGit/v15/Server/sqlite3/storage.ide-shm
/TestGit/.vs/TestGit/v15/Server/sqlite3/storage.ide-wal
/GameOfLifeNeu/.vs/GameOfLifeNeu/v15/.suo
/GameOfLifeNeu/.vs/GameOfLifeNeu/v15/Server/sqlite3/db.lock
/GameOfLifeNeu/.vs/GameOfLifeNeu/v15/Server/sqlite3/storage.ide
