/TestGit/.vs/TestGit/v15/.suo
/TestGit/.vs/TestGit/v15/Server/sqlite3/db.lock
/TestGit/.vs/TestGit/v15/Server/sqlite3/storage.ide
/TestGit/.vs/TestGit/v15/Server/sqlite3/storage.ide-shm
/TestGit/.vs/TestGit/v15/Server/sqlite3/storage.ide-wal
/GameOfLifeNeu/.vs/GameOfLifeNeu/v15/.suo
/GameOfLifeNeu/.vs/GameOfLifeNeu/v15/Server/sqlite3/db.lock
/GameOfLifeNeu/.vs/GameOfLifeNeu/v15/Server/sqlite3/storage.ide
/GameOfLifeNeu/.vs/GameOfLifeNeu/v15/Server/sqlite3/storage.ide-shm
/GameOfLifeNeu/.vs/GameOfLifeNeu/v15/Server/sqlite3/storage.ide-wal
/GameOfLifeNeu/GameOfLifeNeu/bin/Debug/GameOfLifeNeu.exe
/GameOfLifeNeu/GameOfLifeNeu/bin/Debug/GameOfLifeNeu.pdb
/GameOfLifeNeu/GameOfLifeNeu/obj/Debug/GameOfLifeNeu.exe
/GameOfLifeNeu/GameOfLifeNeu/obj/Debug/GameOfLifeNeu.pdb
/GameOfLifeNeu/.vs/GameOfLifeNeu/v15/Server/sqlite3/storage.ide-shm
/GameOfLifeNeu/.vs/GameOfLifeNeu/v15/Server/sqlite3/storage.ide-wal
/GameOfLifeNeu/GameOfLifeNeu/bin/Debug/GameOfLifeNeu.exe
/GameOfLifeNeu/GameOfLifeNeu/bin/Debug/GameOfLifeNeu.pdb
/GameOfLifeNeu/GameOfLifeNeu/obj/Debug/GameOfLifeNeu.csproj.CoreCompileInputs.cache
/GameOfLifeNeu/GameOfLifeNeu/obj/Debug/GameOfLifeNeu.csproj.FileListAbsolute.txt
/GameOfLifeNeu/GameOfLifeNeu/obj/Debug/GameOfLifeNeu.exe
/GameOfLifeNeu/GameOfLifeNeu/obj/Debug/GameOfLifeNeu.pdb
