
/BKT/.vs/BKT/DesignTimeBuild/.dtbcache
/BKT/.vs/BKT/v16/.suo
/BKT/.vs/BKT/v16/Server/sqlite3/db.lock
/BKT/.vs/BKT/v16/Server/sqlite3/storage.ide
/BKT/.vs/BKT/v16/Server/sqlite3/storage.ide-shm
/BKT/.vs/BKT/v16/Server/sqlite3/storage.ide-wal
